<div class="producto-card" [ngClass]="categoria">
    <img [src]="imagen" alt="{{nombre}}" class="img-prod">
    <h3>{{nombre}}</h3>
    <p>{{precio | currency: 'COP'}}</p>
    @if (mostrarEtiqueta){
    <div [ngSwitch]="true">
        <span *ngSwitchCase="precio > 500000" [ngStyle]="{'color': 'purple'}">Perfume Premium</span>
        <span *ngSwitchCase="precio <= 500000" [ngStyle]="{'color': 'green'}">Perfume Alto</span>
        <span *ngSwitchDefault>Perfume Estándar</span>
    </div>
    }
</div>