.producto-card {
  border-radius: var(--radius-medium);
  padding: 1rem;
  text-align: center;
  width: 100%;
  max-width: 20em;
}

.img-prod {
  width: 100%;
  max-width: 200px;
  height: 250px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 0.5rem;
}

.hombre{
  box-shadow: 0px 1px 5px 0px var(--color-text-light);
  h3, p{
    color: var(--color-text-light);
  };
}

.mujer{
  box-shadow: 0px 1px 5px 0px var(--color-primary);
  h3, p{
    color: var(--color-primary);
  };
}

.sin-categoria{
  h3, p{
    color: var(--color-text);
  };
}

.caro {
  background-color: var(--color-secondary);
}

.standard {
  background-color: var(--color-acent);
}