@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Colores principales */
    --color-primary: #5a3da6;
    /* morado principal */
    --color-secondary: #ffe5e5;
    /* fondo especial (productos caros) */
    --color-accent: #e5ffe5;
    /* fondo especial (productos estándar) */

    /* Colores neutros */
    --color-bg: #ffffff;
    /* fondo base */
    --color-surface: #f9f9f9;
    /* secciones claras */
    --color-text: #111111;
    /* texto principal oscuro */
    --color-text-light: #ffffff;
    /* texto claro */
    --color-shadow: rgba(0, 0, 0, 0.1);

    /* Tipografía */
    --font-primary: 'Open Sans', sans-serif;

    /* Bordes y espaciados */
    --radius-small: 6px;
    --radius-medium: 8px;
    --radius-large: 40px;

    --spacing-small: 8px;
    --spacing-medium: 16px;
    --spacing-large: 30px;

    /* Tamaños de texto */
    --font-size-small: 0.875rem;
    /* ~14px */
    --font-size-base: 1rem;
    /* 16px */
    --font-size-large: 1.25rem;
    /* ~20px */
    --font-size-title: 2rem;
    /* ~32px */
}

body {
    font-family: var(--font-primary);
    background-color: var(--color-bg);
    color: var(--color-text);
    line-height: 1.5;
}

h1,
h2{
    font-family: var(--font-primary);
    color: var(--color-primary);
    margin-bottom: var(--spacing-medium);
}

h3{
    font-family: var(--font-primary);
    margin-bottom: var(--spacing-small);
}

p {
    margin-bottom: var(--spacing-small);
    color: var(--color-text);
}